---
import FadeIn from "../animations/FadeIn";
---

<section
  class="relative py-10 lg:py-20 flex items-center justify-center overflow-hidden"
>
  <div class="container-custom relative z-10">
    <div class="text-center">
      <FadeIn client:load direction="up">
        <h1
          class="text-4xl md:text-[50px] font-heading font-bold mb-6 leading-tight max-w-2xl mx-auto"
        >
          Our
          <span class="gradient-text mt-2">Services</span>
        </h1>

        <p class="text-xl text-gray-600 leading-relaxed max-w-3xl mx-auto">
          Explore our end-to-end software development services designed to help
          businesses build secure, scalable, and high-performance digital
          solutions.
        </p>
      </FadeIn>
    </div>
  </div>
</section>
