---
import GradiantText from "./GradiantText.astro";

interface Props {
  title?: string;
  subtitle?: string;
}

const { title = "Blog", subtitle } = Astro.props as Props;
---

<div class="text-center space-y-4">
  <h1
    class="text-4xl md:text-6xl font-extrabold tracking-tight text-foreground"
  >
    <span
      class="bg-gradient-to-r from-[var(--accent)] to-[var(--accent-dark)] bg-clip-text text-transparent"
      ><GradiantText>{title}</GradiantText></span
    >
  </h1>
  {
    subtitle && (
      <p class="text-base md:text-lg text-[color:var(--color-text-secondary)] ">
        {subtitle}
      </p>
    )
  }
</div>
