---
// src/components/NavList.astro
export interface Props {
  title: string;
  navItems: {
    itemText: string;
    itemLink: string;
  }[];
}

const { title, navItems } = Astro.props;
---

<nav class="space-y-6">
  <h2 class="capitalize font-semibold text-heading-1 text-xl">
    {title}
  </h2>
  <ul class="space-y-3 font-medium text-heading-3">
    {
      navItems.map((navItem) => (
        <li>
          <a
            href={navItem.itemLink}
            class="
              relative inline-block transition duration-300
              hover:text-primary
              animated-underline
            "
          >
            {navItem.itemText}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .animated-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  .animated-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
