---
// Imports
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";

// Types
type ServicesProps = {
  title: string;
  features: string[];
  icon: string;
};

// Props
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section
  id="services"
  class={`relative dark:bg-gradient-to-br dark:from-indigo-800 ${className}`}
>
  <Container className="space-y-10 md:space-y-12">
    <!-- Section Title -->
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title className="">Why Choose Protize Tech?</Title>
    </div>

    <!-- Services Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        services.map((service: ServicesProps) => (
          <Service
            title={service.title}
            features={service.features}
            icon={service.icon}
          />
        ))
      }
    </div>
  </Container>
</section>
