---

import Joblayout from "../layouts/Joblayout.astro";
import Layout from "../layouts/Layout.astro";


import Container from "../components/Container.astro";

---

<body>
  <Joblayout title="Jobs">  
    <Container>
      <div class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative">
          <input aria-hidden="true" type="checkbox" name="toggle_nav" id="toggle_nav" class="hidden peer">
          <div class="relative z-20 w-full flex justify-between lg:w-max md:px-0">
              <a href="/" aria-label="logo" class="flex space-x-2 items-center">
                  <!-- <div aria-hidden="true" class="flex space-x-1">
                      <div class="h-4 w-4 rounded-full bg-gray-900 dark:bg-white"></div>
                      <div class="h-6 w-2 bg-primary"></div>
                  </div> -->
                  <span class="text-2xl font-bold text-gray-900 dark:text-white">Protize</span>
                  <!-- <img src="./images/logo.svg" class="h-12 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" /> -->
              </a>
              
              <div class="relative flex items-center lg:hidden max-h-10">
                  <label role="button" for="toggle_nav" aria-label="humburger" id="hamburger" class="relative  p-6 -mr-6">
                      <div aria-hidden="true" id="line" class="m-auto h-0.5 w-5 rounded bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                      <div aria-hidden="true" id="line2" class="m-auto mt-2 h-0.5 w-5 rounded bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                  </label>
              </div>
          </div>
          <div aria-hidden="true" class="fixed z-10 inset-0 h-screen w-screen bg-white/70 backdrop-blur-2xl origin-bottom scale-y-0 transition duration-500 peer-checked:origin-top peer-checked:scale-y-100 lg:hidden dark:bg-gray-900/70"></div>
          <div class="flex-col z-20 flex-wrap gap-6 p-8 rounded-3xl border border-gray-100 bg-white shadow-2xl shadow-gray-600/10 justify-end w-full invisible opacity-0 translate-y-1  absolute top-full left-0 transition-all duration-300 scale-95 origin-top 
                      lg:relative lg:scale-100 lg:peer-checked:translate-y-0 lg:translate-y-0 lg:flex lg:flex-row lg:items-center lg:gap-0 lg:p-0 lg:bg-transparent lg:w-7/12 lg:visible lg:opacity-100 lg:border-none
                      peer-checked:scale-100 peer-checked:opacity-100 peer-checked:visible lg:shadow-none 
                      dark:shadow-none dark:bg-gray-800 dark:border-gray-700">
             
              <div class="text-gray-600 dark:text-gray-300 lg:pr-4 lg:w-auto w-full lg:pt-0">
                  <ul class="tracking-wide font-medium lg:text-sm flex-col flex lg:flex-row gap-6 lg:gap-0">
                      <li>
                          <a href="/" class="block md:px-4 transition hover:text-primary">
                              <span>Services</span>
                          </a>
                      </li>
                      <li>
                          <a href="/" class="block md:px-4 transition hover:text-primary">
                              <span>Testimonials</span>
                          </a>
                      </li>
                      <!-- <li>
                          <a href="/jobs" class="block md:px-4 transition hover:text-primary">
                              <span>Careers</span>
                          </a>
                      </li> -->

                  </ul>
              </div>

              <div class="mt-12 lg:mt-0">
                  <a
                      href = "mailto: abhishek@protize.com"
                      class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                      >
                      <span class="relative text-sm font-semibold text-white"
                          >Contact us</span
                      >
                  </a>
              </div>
          </div>
      </div>
  </Container>  
    <div id="careers">
      <Container>
        <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
          <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
          <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
      </div>
        
        <div class="mt-40 mb-20 space-y-2 px-6 md:px-0">
          <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
            Careers At <span class="text-2x2 font-bold text-gray-900 dark:text-white">Protize.</span>
          </h2>
        </div>
        <div>
        <div class="my-4 mx-8">
          <img
          src="/images/career.png"
          class="w-12"
          width="512"
          height="512"
          alt="burger illustration"
        />
        </div>
    
        <div class="my-4 mx-8">
          <h2 class="text-2xl font-bold text-gray-800 dark:text-white md:text-4x1">
            Web Developer
          </h2>
        </div>
          <div class="my-2 mx-8">
                <h5
                  class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary underline "
                >
               Job Id: WEB1267
                </h5>
          </div>  
              <div class="space-y-4 mx-8">
                <h5
                  class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary underline "
                >
               Job Description:
                </h5>
                <p class="text-gray-600 dark:text-gray-300">
                  We are looking for an outstanding Web Designer & Developer responsible for the innovative
                  design, coding, and layout of web apps. Web designer responsibilities include building web apps
                  from concept to completion.
                </p>
              </div> 
              <div class="mt-4 mx-8">
                <h5
                  class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary underline "
                >
                Requirements and skills:
                </h5>
                <ul class="list-disc mt-4 text-gray-600 dark:text-gray-300">
                  <li>Prior experience in web design and development.</li>
                  <li>Proven experience in developing web applications or libraries using HTML/CSS and JavaScript</li>
                  <li>Experience with building applications and components using modern libraries and frameworks like React, Next.js and Redux</li> 
                  <li> Basic knowledge of Search Engine Optimization process</li>
                  <li>Ability to work and thrive in a fast-paced environment, learn rapidly and master diverse
                web design technologies and techniques.</li>             
                    
                </ul>
              </div> 
              <div class="mt-12 lg:mt-8 mx-8">
                <a
                    href = "mailto: abhishek@protize.com"
                    class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                    <span class="relative text-sm font-semibold text-white"
                        >Apply</span>
                        
                </a>
              </div>
            </div>    
      </Container>  
    </div>
  </Joblayout>
  
  
</body>
