---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
 import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import HeroSection from "../components/HeroSection.astro";

---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
   
		<HeroSection/>
		<Services/>
		<!-- <Stats/> -->
		<Testimonials/>
		<!-- <CallToAction/> -->
		<!-- <Blog/> -->
		<!-- <Careers/> -->
			
	</main>
</Layout>