---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import Stats from "../components/home/Stats.astro";
import ServicesOverview from "../components/home/ServicesOverview.astro";
import WhyChooseUs from "../components/home/WhyChooseUs.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
import Process from "../components/home/Process.astro";
import Testimonials from "../components/home/Testimonials.astro";
import TechStack from "../components/home/TechStack.astro";
import CTASection from "../components/shared/CTASection.astro";
---

<Layout title="Welcome to the Protize Website">
  <main class="flex flex-col overflow-hidden">
    <Hero />
    <Stats />
    <ServicesOverview />
    <WhyChooseUs />
    <FeaturedProjects />
    <Process />
    <Testimonials />
    <TechStack />
    <CTASection />
  </main>
</Layout>
