---
import Container from "./Container.astro";
---
<div id="careers">
  <Container>
    
    <div class="mb-20 space-y-2 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Careers At <span class="text-2x2 font-bold text-gray-900 dark:text-white">Protize.</span>
      </h2>
    </div>
    <div class="border border-gray-100 shadow-sm">
    <div class="my-4 mx-8">
      <img
      src="/images/career.png"
      class="w-12"
      width="512"
      height="512"
      alt="burger illustration"
    />
    </div>

    <div class="my-4 mx-8">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-white md:text-4x1">
        Web Developer
      </h2>
    </div>
      <div class="my-2 mx-8">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary underline "
            >
           Job Id: WEB1267
            </h5>
      </div>  
          <div class="space-y-4 mx-8">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary underline "
            >
           Job Description:
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              We are looking for an outstanding Web Designer & Developer responsible for the innovative
              design, coding, and layout of web apps. Web designer responsibilities include building web apps
              from concept to completion.
            </p>
          </div> 
          <div class="mt-4 mx-8">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary underline "
            >
            Requirements and skills:
            </h5>
            <ul class="list-disc mt-4 text-gray-600 dark:text-gray-300">
              <li>Prior experience in web design and development.</li>
              <li>Proven experience in developing web applications or libraries using HTML/CSS and JavaScript</li>
              <li>Experience with building applications and components using modern libraries and frameworks like React, Next.js and Redux</li> 
              <li> Basic knowledge of Search Engine Optimization process</li>
              <li>Ability to work and thrive in a fast-paced environment, learn rapidly and master diverse
            web design technologies and techniques.</li>             
                
            </ul>
          </div> 
          <div class="mt-12 lg:mt-8 mx-8">
            <a
                href = "mailto: abhishek@protize.com"
                class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                >
                <span class="relative text-sm font-semibold text-white"
                    >Apply</span>
                    
            </a>
          </div>
        </div>    
  </Container>  
</div>


 

    