---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/sean.jpeg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Sean Cansdale</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Engineering Manager @ Zoopla</p>
          </div>
        </div>
        <p class="mt-8">There a a handful of people we run into in our career that leave a lasting impression. Abhishek is one of those people who not only left an impression for being a top quality technologist and problem solver. But also being humble, approachable and most of all a team player.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/amit.jpeg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Amit Kapila Sharma</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Co-Founder @ eMediNexus</p>
          </div>
        </div>
        <p class="mt-8">Had the pleasure of working with Abhishek for close to 6 months. He is a quick learner, hard worker, and resourceful in all matters technology. His ability to bring structure to unstructured environments is also an asset. Would recommend Abhishek for any work relating to startups and technology globally he chooses to be involved in the future.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/alex.jpeg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Alexandros Neophytou</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Principal Researcher @ Microsoft</p>
          </div>
        </div>
        <p class="mt-8">Abhishek is the type of person that never stops asking the tough questions until he is satisfied with the answer. He is hard-working, dedicated and always up for a challenge.</p>
      </div>
    </div>
  </Container>
</div>