---
import FadeIn from "../animations/FadeIn";
---

<section
  class="py-10 lg:py-20 flex items-center justify-center overflow-hidden"
>
  <div class="container-custom">
    <FadeIn client:load direction="up">
      <div class="text-center">
        <h1
          class="text-4xl md:text-[54px] font-heading font-bold mb-6 leading-tight max-w-3xl mx-auto"
        >
          Insights & <span class="gradient-text">Updates</span>
        </h1>

        <p class="text-xl text-gray-600 leading-relaxed mb-6 max-w-3xl mx-auto">
          Expert insights on technology, development, design, and digital
          transformation. Stay ahead with the latest industry trends and best
          practices.
        </p>
      </div>
    </FadeIn>
  </div>
</section>
