---
import "../styles/global.css";
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
import ScrollToTop from "../components/shared/ScrollToTop.astro";
// import SmoothCursorIsland from "../components/cursor/SmoothCursorIsland.tsx";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="We help companies solve scaling, transformation and engineering problems"
    />
    <title>Protize | Bringing Ideas to Life - {title}</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style/custom.css" />
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
  </head>
  <body class="overflow-hidden overflow-y-auto bg-body">
    <Navbar />
    <slot />
    <Footer />
    <ScrollToTop />
    <!-- <SmoothCursorIsland client:load /> -->
  </body>
  <script>
    // detectSystemTheme();

    const switchTheme = document.querySelector(
      "[data-switch-theme]",
    ) as HTMLButtonElement;
    switchTheme.addEventListener("click", (e) => {
      e.preventDefault();
      changeThemeManually();
    });

    function changeThemeManually() {
      const localAppTheme = localStorage.getItem("theme");
      if (localAppTheme === "light") {
        changeThemeToDark();
      }
      if (localAppTheme === "dark") {
        changeThemeToLight();
      }
      if (!localAppTheme) {
        console.log("previously it was not set");
        detectSystemTheme(true);
      }
    }

    function detectSystemTheme(manual = false) {
      if (
        localStorage.getItem("theme") === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
        if (manual) localStorage.setItem("theme", "dark");
      } else {
        document.documentElement.classList.remove("dark");
        if (manual) localStorage.setItem("theme", "light");
      }
    }

    function changeThemeToDark() {
      localStorage.setItem("theme", "dark");
      document.documentElement.classList.add("dark");
    }

    function changeThemeToLight() {
      localStorage.setItem("theme", "light");
      document.documentElement.classList.remove("dark");
    }
  </script>
  <script>
    const toggleMenu = document.querySelector(
      "[data-toggle-nav]",
    ) as HTMLButtonElement;
    const navbar = document.querySelector("[data-navbar]") as HTMLDivElement;
    const overlayNav = document.querySelector(
      "[data-nav-overlay]",
    ) as HTMLDivElement;
    if (toggleMenu) {
      toggleMenu.addEventListener("click", (e) => {
        e.preventDefault();
        if (toggleMenu.getAttribute("data-open-nav") === "false") {
          toggleMenu.setAttribute("data-open-nav", "true");
          overlayNav.setAttribute("data-is-visible", "true");
          document.body.classList.add("!overflow-y-hidden");
          navbar.style.height = `${navbar.scrollHeight}px`;
        } else {
          toggleMenu.setAttribute("data-open-nav", "false");
          overlayNav.setAttribute("data-is-visible", "false");
          document.body.classList.remove("!overflow-y-hidden");
          navbar.style.height = "0px";
        }
      });

      navbar.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });

      overlayNav.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });
    }
  </script>
</html>
