---
import Navitem from "../components/shared/Navitem.astro";
import MotionNav from "../components/shared/MotionNav.tsx";
import { Image } from "astro:assets";

const navItems = [
  { href: "/", text: "Home" },
  { href: "/services", text: "Services" },
  { href: "/portfolio", text: "Portfolio" },
  { href: "/about", text: "About" },
  { href: "/team", text: "Team" },
  { href: "/blog", text: "Blog" },
];
---

<header class="py-2">
  <div class="container-custom">
    <nav class="flex justify-between items-center w-full relative">
      <!-- logo -->
      <a href="/" class="flex items-center gap-3">
        <Image src="/Protize.png" alt="Protize Logo" width={200} height={100} />
      </a>

      <!-- Desktop Menu -->
      <ul class="hidden lg:flex gap-x-6">
        {navItems.map((item) => <Navitem {...item} />)}
      </ul>

      <div class="hidden lg:flex items-center gap-x-4">
        <a href="/contact-us" class="btn-secondary">Contact Us</a>
      </div>

      <!-- Mobile Menu Button: hydrate on the client -->
      <MotionNav client:load navItems={navItems} />
    </nav>
  </div>
</header>
